/* GENERAL STYLES ----------------------------------------------------------- */

html {
	font-family: 'Playfair Display', serif;
}

@page {
	margin-top: 2cm;
	margin-bottom: 2cm;
}

/* HEADER ------------------------------------------------------------------- */

nav {
	display: none;
}

header {
	background-image: none;
	height: 50px;
	margin-bottom: 20px;
	overflow: visible;
}

.header-donuts-image {
	background-image: none;
}

.header-contact-image {
	background-image: none;
}

header > div {
	top: 0;
}

#headline-intro {
	display: none;
}

h1 {
	font-size: 40px;
}

/* MAIN CONTENT ------------------------------------------------------------- */

main {
	font-size: 12px;
	padding: 0 60px;
}

#introduction {
	font-size: 14px;
	font-weight: 700;
}

#introduction::first-letter {
  font-size: 14px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
}

a {
	color: #000;
	font-weight: 400;
}

a[href^="http"] {
	background-image: none;
	padding-right: 0;
}

/* COLUMNS ------------------------------------------------------------------ */

.flex-container {
	display: block;
}

.allergy, .full-content {
	color: #000;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	margin-bottom: 0;
	text-transform: none;
	text-align: left;
}

.donut-description {
	font-size: 14px;
}

/* DIV WITH MAP (CONTACT PAGE) ---------------------------------------------- */

.map {
	display: none;
}

/* FOOTER ------------------------------------------------------------------- */

footer {
	display: none;
}
